.carrossel {
    display: flex;
    justify-content: center;
}

.carrossel img {
    width: 1000px;
    filter: brightness(0.7);
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

.logo-container {
    height: 100px; 
    width: auto; 
}

.queico {
    display: flex;
    align-items: center;
}

.queico img{
    border-radius: 50%;
    width: 200px;
}

footer {
    padding: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f8f8f8;
}